<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Munin - Test History</title>
    <meta http-equiv="Content-Language" content="en" />
  </head>
  <body>
    <div>
      <hr/>
    </div>
    <div>
      <div>
        <span>Last Published: $date</span>
        &nbsp;| <span>Version: 1.0.0</span>
      </div>
      <div>
        <hr/>
      </div>
    </div>
    <div>
      <div>
        <h2>Test History - $branch</h2>
        <br/>
        <table border="1">
          <tr>
            <th>Date</th>
            <th>SHA</th>
            <th>Total Tests</th>
            <th>Errors</th>
            <th>Failures</th>
            <th>Skipped</th>
            <th>Success Rate</th>
          </tr>
          $summary_rows
        </table>
        <br />
      </div>
    </div>
    <div>
      <hr/>
    </div>
    <div>
      <div>
        <hr/>
      </div>
    </div>
  </body>
</html>
