# Several sub-directories of this 'deploy' directory are intended
# for transient run-time data transfer.  Ignore the contents of
# these temporary file transfer folders.
aer-incoming/*
verifier-incoming/*
verifier-processed/*
